.ISelect {
  box-sizing: border-box;
  width: 100%;

  &-container {
    font-size: 10pt;
  }
  &__title {
    color: $tint-hard-400;
    font-weight: 600;
    
    .light & {
      color: $primary;
    }
  }
}