.Div {
  box-sizing: border-box;
  padding: 10px 0;
  user-select: text;
  transition: padding $fast;
  // @include mobile {
  //   padding: 5px;
  // }

  &--both {
    padding: 10px;
  }
  &--half {
    padding: {
      top: 5px;
      bottom: 5px;
    };
  }
}