@import 'variables';

.Calendar {
  display: inline-block;
  animation: fadeInWithTransform $slow forwards;
  box-sizing: border-box;
  // margin-bottom: $margin-default;

  &__day,
  &__week-day {
    cursor: pointer;
    width: 25px;
    height: 25px;
    padding: 5px;
    line-height: 25px;
    text-align: center;
    border-radius: $border-radius-large;
  }
  &__day {
    color: #666666;
    font-size: 11pt;
    &:hover {
      background: $accent-blue;
      color: $color-white;
    }
    overflow: hidden;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 4px;
      height: 4px;
      border-radius: 3px;
      margin-left: 17px;
      margin-top: 0px;
      background-color: $accent-blue;
      opacity: 0;
      transition: $fast;
    }
  }

  &__week-day {
    color: $accent-blue;
    @extend .simple-text;
    font-weight: 400;
  }
  &__toolbar {
    color: $accent-blue;
  }
  &__current-day {
    color: $accent-blue!important;
    font-weight: 700;
    transition: $average;
    &::before {
      opacity: 1!important;
    }
    
    &:hover {
      color: $primary!important;
      &:before {
        background-color: $primary;
      }
    }
  }
  &__prev-month, &__next-month {
    color: $highlight!important;
  }
  &__current-date {
    color: $accent-blue;
    text-transform: capitalize;
  }
}
