@import 'variables';
@import 'calendar';
@import 'time';
@import 'slider';


.Date-Time-Picker {

  z-index: z('overoverlay');
  border: 1px solid $highlight-2;
  transition: $slow;
  display: block;
  // position: relative;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: $main;
  &__tabs {
    margin-bottom: $margin-default;
  }
  &__tab {
    display: none;
    box-sizing: border-box;
    &.active {
      display: block;
    }
  }
}
