@import 'variables';
@import 'calendar';
@import 'time';
@import 'slider';


.Date-Time-Picker {
  &.closed {
    opacity: 0;
    visibility: hidden;
  }
  z-index: z('main');
  transition: $slow;
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 3px;
  background-color: $primary;
  &__tabs {
    margin-bottom: $margin-default;
  }
  &__tab {
    display: none;
    box-sizing: border-box;
    // height: 310px;
    &.active {
      display: block;
    }
  }
}
