@import 'variables';

.Time {
  color: $color-white;
  padding-top: 50px;
  animation: fadeInWithTransform $slow forwards;
  & > * {
    box-sizing: border-box;
  }
  &__showtime {
    text-align: center;
    white-space: nowrap;
  }

  &__separater {
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    color: $accent-blue;
    width: 32px;
    height: 65px;
    line-height: 65px;
    text-align: center;
  }

  &__time-text {
    position: relative;
    font-size: 15px;
    color: $accent;
    margin-top: 7px;
    margin-bottom: 10px;
  }

  &__time {
    width: 65px;
    height: 65px;
    display: inline-block;
    font-size: 38px;
    line-height: 65px;
    background-color: $accent-blue;
    border-radius: 3px;
    text-align: center;
  }
}
