.Event-View {

  animation: fadeInWithTransform $slowly forwards;
  // &.isEmpty { }

  &__isEmpty {
    &-string {
      @extend .header-3;
      color: $highlight;
      animation: fadeInWithTransform $slowly forwards;
    }
  }
  &__list {
    display: block;
    max-height: 300px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 150px;
    padding-bottom: 150px;
    mask-image: $text-overflow-mask;
    opacity: .65;
    border-right: none;
    border-left: none;
    transition: $fast;
    overflow: hidden;
    &:hover {
      opacity: 1;
    }
  }
  ::-webkit-scrollbar-thumb {
    background-color: $dark;
    border-radius: 5px;
  }
}