.Current-Route {
  &__content {
    position: relative;
    @include both {
      flex-direction: column-reverse;
    }
  }
  &__wrapper {
    position: relative;
    width: 100%;
    // min-height: calc(#{$defaultSize-min} + #{$margin-default});
    // width: 45%;
    & > * {
      margin-right: $margin-default * 1.5;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  // .Scrolled {
  //   margin-right: 10px;
  // }
}