.Minified-Block {
  
  width: 100%;
  &:nth-child(odd) {
    background-color: $highlight-2;
  }
  &:hover {
    background-color: $highlight;
  }
  &__group {
    border: 1px solid $highlight;
    & > * {
      max-width: 150px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    // border-radius: $border-radius;
  }
  &__title {
    font-weight: 700;
  }
}