.Current-Event {
  &__content {
    height: 100%;
    // & > * {

    // }
  }
  &__title {
    @extend %godzilla;
    // font-weight: 700;
    text-align: center;
  }
  &__date {
    // font-size: 28pt;
    font-weight: 400;
    @extend %header-1;
  }
  &__address {
    @extend %small-text;
  }
}