.Ground {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 500px;
  overflow: hidden;
  mask-image: $magic-mask;
  @include mobile {
    min-height: 0;
  }

  &__image {
    position: absolute;
    width: 104%;
    height: 104%;
    top: -2%;
    left: -2%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    mask-image: $mask;
    opacity: 1;
    z-index: z('background');
    animation: fadeIn $slowly forwards;
    filter: blur($large-blur) contrast(1.2);
    @include toned('::before', .1);
  }

  &__in {
    position: relative;
    width: 100vw;
    margin-top: $headerHeight;
    z-index: z('main');
  }
}
