.Ground {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 400px;
  overflow: hidden;
  contain: style;

  &--limit &__image {
    position: absolute;
  }
  @keyframes fadeInGround {
    0% {
      transform: scale(.98);
      opacity: 0;
    }
    60% {
      transform: scale(1);
      opacity: .35;
    }
  }
  &__image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: z("background");
    transform: translateZ(0.1px);
    opacity: 0;
    &.active {
      animation: fadeInGround $slowly forwards;
      opacity: .35;
      .solid & {
        animation: fadeIn $slowly forwards;
        opacity: 1;
      }
      &.mask-no {
        animation: fadeInWithTransform $slowly forwards;
        opacity: 1;
        &::after {
          content: none;
        }
      }
    }
    .blur & {
      filter: blur($large-blur);
    }
    &.fit {
      background-size: contain;
      filter: unset;
    }
    &.mask-both {
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(to bottom, $main, transparent);
      }
    }
    &.mask-dark-left {
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:
          linear-gradient(160deg, $dark 10%, transparent 80%, transparent 100%),
          linear-gradient(45deg, $dark 10%, transparent 80%, transparent 100%);
      }
    }
    &.mask-radial {
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to left, $main, transparent 20%, transparent 80%, $main);
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, $main, transparent 40%, transparent 60%, $main);
      }
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 50%;
      background: linear-gradient(to top, $main, transparent);
    }
    video {
      /* Make video to at least 100% wide and tall */
      min-width: 100%; 
      min-height: 100%; 
      
      /* Setting width & height to auto prevents the browser from stretching or squishing the video */
      width: auto;
      height: auto;
      
      /* Center the video */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%)!important;
    }
  }

  &__in {
    position: relative;
    z-index: z('main');
    &--stretch {
      width: 100vw;
    }
  }
  &--layout {
    &-top {
      align-items: flex-start;
    }
    &-bottom {
      align-items: flex-end;
    }
  }
}
