.Icon {
  transition: fill $fast;
  &--size {
    &-s {
      width: 14px;
      height: 14px;
    }
    &-m {
      width: 20px;
      height: 20px;
    }
    &-l {
      width: 30px;
      height: 30px;
    }
  }
}