.Section {
  display: block;
  position: relative;
  overflow: hidden;
  
  &__header {
    max-width: $lowScreen;
    margin: 0 auto;
    margin-bottom: 20px;
    user-select: text;
    @extend %header-1;
  }
  &__subtitle {
    margin-left: 10px;
    @extend %small-text;
    @include themify($themes) {
      color: themed('highlight');
    }
    // text-decoration: none;
  }

  &__content {
    max-width: $lowScreen;
    margin: 0 auto;
  }
}