.Scrolled {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  z-index: z('main');

  contain: layout style;

  &__wrapper {
    position: relative;
    width: 100%;
  }

  &--orientation {
    &-vertical {
      overflow-y: auto;
    }

    &-horizontal {
      flex-direction: row;
      overflow-x: auto;
    }
  }

  &__buttons {
    position: absolute;
    width: 100%;
    top: $eventSizeDefault * 0.5;
    transform: translateY(-50%);
    z-index: z('foreground');
    pointer-events: none;
    @include mobile {
      top: $eventSizeMobile * 0.5;
    }
    @include tablet {
      top: $eventSizeTablet * 0.5;
    }
    @include laptop {
      top: $eventSizeLaptop * 0.5;
    }
    @include desktop {
      top: $eventSizeDesktop * 0.5;
    }
    &.minify {
      top: $eventSizeMobile * 0.5;
    }
    &.atMiddle {
      top: 0;
      transform: none;
    }
  }
  &__button {
    pointer-events: all;
    box-shadow: 0 5px 30px -10px $dark-400;
    transition: all 0s, opacity $fast, visibility $fast;
    @extend .hidden;
    &:first-of-type {
      transform: translateX(-50%);
      @include TM {
        transform: translateX($margin-large) translateX(-50%);
      }
    }
    &:last-of-type {
      transform: translateX(50%);
      @include TM {
        transform: translateX(-$margin-large) translateX(50%);
      }
    }
    &.active {
      visibility: visible;
      opacity: 1;
    }
  }
}