.Scrolled {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  z-index: z('main');

  &__wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    // overflow: hidden;
  }

  &--fit {
    position: absolute;
    @include both {
      position: relative;
    }
  }

  &--orientation {
    &-vertical {
      overflow-y: auto;
      padding-right: 10px;
    }

    &-horizontal {
      flex-direction: row;
      overflow-x: auto;
    }
  }

  &__button {
    position: absolute;
    z-index: z('foreground');
    top: $defaultSize * .5 - $button-l-padding;
    box-shadow: 0 5px 30px -10px $dark;
    transition: $fast;
    // .Icon {
    //   stroke: $main;
    // }
    @extend .hidden;

    &:first-of-type {
      left: - $button-s-padding * 2;
      @include mobile {
        left: $button-s-padding;
      }
    }
    &:last-of-type {
      right: - $button-s-padding * 2;
      @include mobile {
        right: $button-s-padding;
      }
    }
    &--active {
      visibility: visible;
      opacity: 1;
    }
  }
  // &--non-selected-content {
  //   * {
  //     user-select: none;
  //   }
  // }
}