
.Page {
  z-index: z('main');
  min-height: 100vh;
  height: 100%;
  color: $primary;
  background-color: $main;
  transition: background-color $fast, color $fast;
  overflow: hidden;
  &.move-first {
    &:first-child {
      padding-top: $headerHeight * 2;
    }
  }
  &.theme-light {
    background-color: $primary;
    color: $dark;
    ::selection {
      background-color: $dark;
      color: $primary;
    }
  }

  &:nth-child(2) {
    position: fixed;
    transition: $average;
    z-index: z('foreground');
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: grey;
    background-color: $tint-light-100;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: darkgrey;
    background-color: $primary;
    transition: background-color $fast;
  }
}