.Modal {
  display: block;
  user-select: none;
  border-radius: $border-radius-small;
  // background-color: $main;
  box-sizing: border-box;
  // color: $dark;
  z-index: z('foreground');
  
  &.pinned {
    position: absolute!important;
  }

  input {
    display: none;
  }
}