.Section {
  $self: &;
  display: block;
  position: relative;
  animation: fadeInWithTransform $slowly forwards;
  z-index: z("main");
  margin-bottom: $margin-large;
  // contain: layout style;
  @include mobile {
    margin-bottom: $margin;
  }

  &__header {
    max-width: $large-desktop;
    margin: 0 auto;
    padding: $margin-default 0;
    text-align: start;
    user-select: text;
    @extend .header-1;
    @include mobile {
      max-width: $mobileContainerWidth;
    }
    @include tablet {
      max-width: $tabletContainerWidth;
    }
    @include laptop {
      max-width: $laptop;
    }
    @include desktop {
      max-width: $desktop;
    }
    &--minify {
      @extend .header-3;
      font-weight: 400;
      margin: 0 auto;
    }
  }
  &__subtitle {
    margin-left: 10px;
    @extend .small-text;
    color: $highlight;
  }
  &__in {
    display: flex;
    max-width: $large-desktop;
    margin: $margin auto $margin-default;
    @include TM {
      max-width: 100%;
    }
    @include laptop {
      max-width: $laptop;
    }
    @include desktop {
      max-width: $desktop;
    }
  }
  &__content {
    width: 40%;
    @include mobile {
      width: 100%;
    }
    &--full {
      width: 100%;
    }
  }
  &--stretch &__in,
  &--stretch &__header {
    max-width: 100%;
  }
  &--media-reverse {
    @include mobile {
      flex-direction: column;
    }
  }
  &--media-reverse &__side {
    display: block;
  }
  &__before {
    display: inline-block;
    .Button {
      margin-left: 10px;
    }
  }
  &__side {
    width: 60%;
    padding-left: $margin-large;
    box-sizing: border-box;
    z-index: 1000;
    @include mobile {
      display: none;
      width: 100%;
      padding: 10px 0;
    }
  }
  &__after {
    max-width: $laptop;
    margin: 0 auto;
  }
}