.Context {
  display: block;
  user-select: none;
  border-radius: $border-radius-small;
  background-color: $dark-100;
  box-sizing: border-box;
  color: $primary;
  
  &.pinned {
    position: absolute!important;
  }

  input {
    display: none;
  }
  hr {
    border-color: $tint-light-100;
  }
  &__header {
    width: fit-content;
    &__info {
      margin-left: $margin;
    }
    &__name {
      font-size: 11pt;
      font-weight: 500;
    }
    &__email {
      font-size: 10pt;
      font-weight: 300;
    }
  }
  &__main {
    display: block;
    position: relative;
    padding: 5px 0;
  }
  &__field {
    user-select: none;
    min-width: 150px;
    height: 40px;
    padding: 0 $margin;
    &:hover {
      background-color: $tint-light-100;
    }
    &:active {
      @extend %simple-active-effect;
    }
    &__title {
      margin: 0 $margin;
      font-size: 10.5pt;
      font-weight: 400;
      white-space: nowrap;
    }
    .Icon {
      fill: $tint-light-500;
      stroke: $tint-light-500;
      margin: $margin;
    }
  }
}