.Context {
  position: relative;
  box-sizing: border-box;
  
  &__content {
    display: block;
    position: fixed;
    user-select: none;
    border-radius: $border-radius-small;
    background-color: $dark;
    transition: $fast;
    overflow: hidden;
    .Icon {
      fill: $primary;
      margin-right: 20px;
    }
  }
  &__main {
    padding: 10px 0;
  }
  &__field {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 12px;

    @extend %small-text;
    font-weight: 400;

    &:hover {
      background-color: $tint-light;
    }
    &:active {
      @extend %simple-active-effect;
    }
  }
}