.Header {
  position: relative;
  animation: fadeInWithTransform $slowly forwards;
  top: 0;
  left: 0;
  width: 100%;
  height: $headerHeight;
  background-color: $accent;
  transition: background-color $slow;
  &.transparent {
    background-color: transparent;
  }
  &.office {
    background-color: $accent;
  }
  &__logo {
    &-wrapper {
      z-index: z('main');
    }
    margin: 0 10px;
    @include mobile {
      display: none;
    }
    &--min {
      display: none;
      @include mobile {
        display: block;
      }
    }
  }
  &__links {
    position: absolute;
  }
  &__button {
    font-size: 12pt;
    font-weight: 600;
    color: $tint-light-500;
    .Icon {
      fill: $tint-light-500;
    }
    &.active {
      color: $primary;
      .Icon {
        fill: $primary;
      }
    }
  }
  &__search {
    position: absolute;
    animation: fadeInWithTransformCenter $slowly forwards;
    width: 65%;
    border: 1px solid $tint-light-200;
    height: $headerHeight * 0.75;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: $tablet;
    z-index: z('foreground');
  }
  &__user {
    padding-right: $margin-default;
    & > * {
      white-space: nowrap;
        &:last-child {
          @extend .small-text;
          color: $highlight;
        }
    }
    &.loading {
      & > * {
        background-color: $tint-light-100;
        padding: 5px 30px;
        border-radius: $border-radius-small;
        &:first-child {
          padding: 5px 15px;
          margin-bottom: 5px;
        }
      }
    }
  }
  &__sign-in {
    margin: 0 10px;
  }
}