.Header {
  position: relative;
  + * { padding-top: $headerHeight *2; } // moves element after header down

  &__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $headerHeight;
    z-index: z('overlay');
    background-color: $dark;
    transition: background-color $fast;
    // animation: fadeInWithTransform $slowly forwards;
    &--office {
      background-color: $accent!important;
    }
    &--hidden {
      background-color: transparent;
    }
    & > * {
      flex: 1 0 0;
      &:last-child {
        text-align: right;
      }
    }
  }
  &__logo {
    margin: 0 10px;
    @include mobile {
      display: none;
    }
    &--min {
      display: none;
      @include mobile {
        display: block;
      }
    }
  }
  &__links {
    width: $minScreen;
    transition: width $fast;
    align-items: center;
    margin: 0 auto;
    @include mobile {
      width: 200px;
    }
  }
  &__user {
    padding-right: $margin-default;
    & > * {
      white-space: nowrap;
        &:last-child {
          @extend %small-text;
          color: $highlight;
        }
    }
    &.loading {
      & > * {
        background-color: $tint-light;
        padding: 5px 30px;
        border-radius: $border-radius-small;
        &:first-child {
          padding: 5px 15px;
          margin-bottom: 5px;
        }
      }
    }
  }
  &__sign-in {
    margin: 0 10px;
    @include mobile {
      // padding: 6px 12px;
    }
  }
}