.Button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 0;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  border: none;
  outline: none;
  border-radius: $border-radius-large;
  background-color: transparent;
  transition: $fast, opacity $slowly;
  * {
    display: inline-block;
    vertical-align: middle;
  }
  &:active {
    @extend %simple-active-effect;
  }
  &__in {
    outline: none;
    transition: padding $fast;
    &--size {
      &-s {
        padding: $button-s-padding;
      }
      &-m {
        padding: $button-m-padding;
      }
      &-l {
        padding: $button-l-padding;
      }
      &-xl {
        padding: $button-xl-padding;
      }
    }
  }
  &:focus > &__in {
    outline: auto;
    outline-color: $accent-blue;
  }
  // Button__content
  &__content {
    white-space: nowrap;
  }
  // Button__before
  &__before {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 10px;
    .Icon {
      fill: $primary;
    }
  }
  &--align {
    &-left {
      text-align: left;
    }
    &-center {
      text-align: center;
    }
    &-right {
      text-align: right;
    }
  }
  &--stretched {
    height: 100%;
    width: 100%;
  }
  // Allow media
  &--media &__content {
    @include mobile {
      font-size: 0;
    }
  }
  &--media &__before {
    display: none;
    @include mobile {
      display: flex;
      margin-right: 0;
    }  
  }
  // Show only icon
  &--show-icon &__before {
    display: flex;
  }
  &--only-icon &__before {
    margin-right: 0;
  }
  &--hidden {
    visibility: hidden;
    opacity: 0;
    margin: 0!important;
    transition: all $slow, opacity $fast;
  }
  &--disabled {
    pointer-events: none;
    opacity: .55;
  }
  &--hidden &__in {
    padding: 0;
    font-size: 0;
    transition: $fast;
  }
  &--has-corners {
    border-radius: $border-radius-small!important;
  }
  &--level {
    &-primary {
      background-color: $main;
      color: $dark;
      .Icon {
        fill: $dark;
        stroke: $dark;
      }
    }
    &-office-primary {
      background-color: $main;
      color: $main;
      background: $dark;
      .Icon {
        fill: $primary;
        stroke: $primary;
      }
    }
    &-secondary {
      color: $accent;
      font-weight: 600;
      border: 1px solid $highlight;
      background-color: $primary;
      &:hover {
        background-color: $main;
      }
    }
    &-office-secondary {
      color: $tint-hard-400;
      font-weight: 500;
      background-color: $tint-light-100;
      .Icon {
        fill: $tint-hard-300;
        stroke: $tint-hard-300;
      }
      &:hover {
        color: $tint-hard-800;
        background-color: $tint-hard-100;
      }
    }
    &-tertiary {
      color: $accent;
      background-color: $main;
      .Icon {
        fill: $accent;
        stroke: $accent;
      }
      &:hover {
        background-color: $accent;
        color: $main;
        .Icon {
          fill: $main;
          stroke: $main;
        }
      }
      &--permanent {
        user-select: text;
        pointer-events: none;
      }
    }
    &-office-tertiary {
      color: $tint-hard-500;
      font-weight: 600;
      background-color: $highlight-2;
      .Icon {
        fill: $tint-hard-300;
        stroke: $tint-hard-300;
      }
    }
    &-simple {
      color: $light;
      .Icon {
        fill: $light;
        stroke: $light;
      }
      &:hover {
        background: $tint-light-100;
      }
      &--permanent {
        user-select: text;
        pointer-events: none;
      }
    }
    &-tag {
      color: $dark;
      background-color: $tint-light-300;
      margin-right: $margin;
      font-weight: 300;
      &:last-child {
        margin-right: 0;
      }
      .Icon {
        fill: $main;
        stroke: $main;
      }
      &--permanent {
        user-select: text;
        pointer-events: none;
      }
    }
    &-alert {
      color: $primary;
      background-color: $tint-red-300;
    }
    &-office-alert {
      color: $red;
      .Icon {
        fill: $red;
        stroke: $red;
      }
      &:hover {
        background-color: $tint-red-300;
      }
    }
  }
}