
.Button {
  cursor: pointer;
  display: inline-block;
  outline: none;
  text-decoration: none;
  user-select: none;
  border-radius: $border-radius-small;
  border: 1px solid transparent;
  transition: $fast;

  & * {
    display: inline-block;
    vertical-align: middle;
    transition: font-size $fast;
  }
  // Button:active
  &:active {
   @extend %decrease-scale;
  }
  // &__in {
  //   // display: flex;
  //   // align-items: center;
  //   // justify-content: space-between;
  // }
  // Button__content
  // &__content {

  // }
  // Button__before
  &__before {
    position: relative;
    margin-right: 10px;
    .Icon {
      @include themify($themes) {
        fill: themed('light')
      }
    }
  }
  &--size {
    &-s {
      padding: 5px 10px;
      @extend %small-text;
    }
    &-m {
      padding: 10px 20px;
      @extend %simple-text;
    }
    // &-l {

    // }
  }
  // Button--level
  &--level {
    &-primary {
      font-weight: 600;
      @include themify($themes) {
        background-color: themed('accent');
        color: themed('light');
        &:hover {
          background-color: themed('accent');
          color: themed('light');
        } 
      }
    }
    &-outline {
      font-weight: 500;
      @include themify($themes) {
        border-color: themed('light');
        color: themed('light');
        &:hover {
          background: themed('light');
          color: themed('accent');
          .Icon {
            fill: themed('accent');
          }
        } 
      }
    }
    &-simple {
      font-weight: 500;
      @include themify($themes) {
        // color: themed('light');
        // &:hover {
        //   background: themed('light');
        //   color: themed('accent');
        //   .Icon {
        //     fill: themed('accent');
        //   }
        // }
        &--permanent {
          color: themed('light');
          &:hover {
            background: themed('light');
            color: themed('accent');
            .Icon {
              fill: themed('accent');
            }
          }
        }
      }
    }
  }
}