
.Input {
  display: block;
  position: relative;
  height: 100%;
  border-radius: 2px;
  box-sizing: border-box;
  animation: fadeInWithTransform $slowly forwards;
  input {
    display: block;
    position: relative;
    width: 100%;
    margin-left: 10px;
    border: none;
    background-color: transparent;
    color: inherit;
    outline: none;
    font-size: 11pt;
  }
  &--hidden {
    opacity: 0;
    visibility: hidden;
  }
  &--bordered {
    &.level-default {
      border: 1px solid $highlight-2;
    }
    &.level-light {
      border: 1px solid $highlight-2;
    }
  }
  // &.level-default { }
  &.level-light {
    color: $dark;
    background-color: $main;
    .Icon {
      fill: $dark;
    }
    ::-webkit-input-placeholder {
      color: $tint-hard-600;
    }
  }
  &.level-default {
    color: $main;
    background-color: $dark-200;
    .Icon {
      fill: $main;
    }
    ::-webkit-input-placeholder {
      color: $tint-light-600;
    }
  }
}