
.Input {
  display: block;
  position: relative;
  padding-left: 10px;
  height: 100%;
  border-radius: $border-radius-small;
  box-sizing: border-box;
  // transition: opacity $fast;
  // overflow: hidden;
  input {
    display: block;
    position: relative;
    width: 100%;
    border: none;
    background-color: transparent;
    color: inherit;
    outline: none;
    @include mobile {
      // width: unset;
    }
  }
  &--hidden {
    // display: none;
    opacity: 0;
    visibility: hidden;
  }
  &--level {
    &-default {
      color: $primary;
      background-color: $tint-light;
    }
    &-light {
      color: $main;
      background-color: $primary;
      // transition: $fast;
      .Icon {
        fill: $highlight;
      }
    }
  }
}