.Event {
  $parent: &;
  position: relative;
  user-select: text;

  &:not(:only-child) {
    margin-right: $margin-default;
    &.minify {
      margin-right: $margin;
    }
    @include mobile {
      margin-right: $margin;
    }
    &:first-child {
      @include tablet {
        padding-left: $margin-large;
      }
      @include mobile {
        padding-left: $margin;
      }
    }
    &:last-child {
      margin-right: 0;
      @include tablet {
        padding-right: $margin-large;
      }
      @include mobile {
        padding-right: $margin;
      }
    }
  }
  &.isLoading {
    #{$parent}__context {
      display: none;
    }
    #{$parent}__image {
      @include flare('::after', 2s);
      background-color: $tint-light-100;
      &::before {
        content: none;
      }
    }
    #{$parent}__title {
      background-color: $tint-light-100;
      height: 18px;
      width: 75%;
      margin: 3px 0;
    }
    #{$parent}__subtitle {
      background-color: $tint-light-100;
      height: 14px;
      width: 90%;
    }
  }
  .Side {
    margin-left: $margin-default;
  }
  &.exaggerate {
    width: 100%;
  }
  &__content {
    $self: &;
    position: relative;
    max-width: $eventSizeDefault;
    min-width: $eventSizeDefault;
    .minify & {
      max-width: $eventSizeMobile;
      min-width: $eventSizeMobile;
    }
    .allowMedia & {
      @include mobile {
        max-width: 100%;
        min-width: 100%;
      }
    }
    @include mobile {
      max-width: $eventSizeMobile;
      min-width: $eventSizeMobile;
    }
    @include tablet {
      max-width: $eventSizeTablet;
      min-width: $eventSizeTablet;
    }
    @include laptop {
      max-width: $eventSizeLaptop;
      min-width: $eventSizeLaptop;
    }
    @include desktop {
      max-width: $eventSizeDesktop;
      min-width: $eventSizeDesktop;
    }
  }
  &__image {
    height: $eventSizeDefault;
    border-color: $tint-light-100!important;
    cursor: pointer;
    @include toned-half('::before', 0);
    .minify & {
      height: $eventSizeMobile;
    }
    @include mobile {
      height: $eventSizeMobile;
    }
    @include tablet {
      height: $eventSizeTablet;
    }
    @include laptop {
      height: $eventSizeLaptop;
    }
    @include desktop {
      height: $eventSizeDesktop;
    }
    &:hover {
      @include toned-half('::before', .75);
      #{$parent}__context {
        visibility: visible;
        opacity: 1;
      }
    }
    a {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
    &__text {
      font-family: "Segoe Script";
      font-size: 18pt;
      font-weight: 600;
      z-index: -1;
      animation: fadeInWithTransform $slowly forwads;
    }
    &.isEmpty {
      background-color: $tint-light-100;
    }
  }
  &__context {
    position: absolute;
    z-index: z('main');
    transition: $average;
    right: 0;
    top: 0;
    @extend .hidden;
  }
  &__title, &__subtitle {
    cursor: pointer;
    display: block;
    transition: $fast;
    border-radius: $border-radius-small;
    &:active {
      @extend %simple-active-effect;
    }
  }
  &__title {
    font-size: 12pt;
    font-weight: 600;
    margin-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &__subtitle {
    @extend .simple-text;
    color: $dark-500;
    font-weight: 500;
    &:hover {
      max-width: 100%;
    }
  }
}