.Icon {
  transition: fill $fast;
  &--size {
    &-s {
      margin-top: -2px;
      width: 14px;
      height: 14px;
    }
    &-m {
      width: 20px;
      height: 20px;
    }
    &-l {
      width: 40px;
      height: 40px;
    }
  }
}