.Content-Viewer {
  flex-wrap: wrap;
  padding: $margin-large;
  border-radius: $border-radius-small;
  & > * {
    margin: $margin!important;
    margin-bottom: 40px;
    &:first-child {
      padding-left: 0!important;
    }
    &:last-child {
      padding-right: 0!important;
    }
  }
}
