@keyframes fadeInWithTransform {
  0% {
    transform: scale(.98);
    opacity: 0;
    // animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }
  60% {
    transform: scale(1);
    opacity: 1;
    // animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}
@keyframes fadeInWithTransformCenter {
  0% {
    transform: scale(.98) translate(-50%, -50%);
    opacity: 0;
  }
  60% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes fadeInWithTransformTop {
  0% {
    transform: scale(.98) translateY(-50%);
    opacity: 0;
  }
  60% {
    transform: scale(1) translateY(-50%);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}
@keyframes fadeInCycle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }
  100% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

@keyframes blurOut {
  0% {
    // opacity: 1;
    // filter: blur(0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }
  100% {
    // opacity: 0;
    // filter: blur(50px);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

@keyframes zoomInDown {
  0% {
    opacity: 0;
    transform: scale3d(2, 2, 2);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.475, 1.475, 1.475);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}
@keyframes zoomOutUp {
  0% {
    opacity: 0;
    transform: scale3d(0, 0, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }
  60% {
    opacity: 0.625;
    transform: scale3d(0.625, 0.625, 0.625);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}
@keyframes loader {
  0%, 20% {
    left: -100%;
    animation-timing-function: cubic-bezier(.27,.37,.87,.74);
  }
  80%, 100% {
    left: 175%;
    animation-timing-function: cubic-bezier(.27,.37,.87,.74);
  }
}
@keyframes rotateCycle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}