
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  font-family: $fontFamily;
}

body {
  overflow-x: hidden;
}

main {
  min-height: 100vh;
  @include themify($themes) {
    color: themed('mainTextColor');
    background-color: themed('main');
    transition: background-color $fast;
  }
}

input,
textarea,
select,
button {
  font-family: inherit;
}

#root {
  user-select: none;
}

a {
  color: inherit;
}

a:focus {
  outline: none;
}

.page {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  &:nth-child(2) {
    position: absolute;
    top: 100vh;
    transition: 500ms ease-in-out;
  }

  @include mobile {
    &:nth-child(n) {
      top: 0;
      transition: $fast;
    }
  }
}
/* simple - enter transition 300ms, exit 150ms */
.fade {
  &-appear,
  &-enter {
    opacity: 0;
    z-index: 1;
    &-active {
      opacity: 1;
      transition: opacity 300ms linear 150ms;
    }
  }
  &-exit {
    opacity: 1;
    &-active {
      opacity: 0;  
      transition: opacity 150ms linear;
    }
  }
}
::-webkit-scrollbar {
  height: 0;
  width: 5px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: grey;
}
::-webkit-scrollbar-thumb:hover {
  background: black;
}
::selection {
  background-color: black;
  color: white;
}

%custom-scroll {
  @include themify($themes) {
    ::-webkit-scrollbar-track {
      background: transparent;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: themed('tint');
      transition: background-color $fast;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: black;
    }
    ::selection {
      background-color: black;
      color: white;
    }
  }
}