$mobileWidth: 320px;
$tabletWidth: 768px;
$desktopWidth: 1920px;

@mixin mobile {
  @media  only screen and (max-width: #{$tabletWidth - 1px}) {
    @content;
  }
}
@mixin lowscreen {
  @media  only screen and (min-width: #{$tabletWidth}) and (max-width: #{$desktopWidth - 1px}) {
    @content;
  }
}
@mixin both {
  @media  only screen and (max-width: #{$desktopWidth - 1px}) {
    @content;
  }
}

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@mixin toned($pseudo, $amount: .2) {
  &#{$pseudo} {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: #{$amount};
    transition: $fast;
    @include themify($themes) {
      background-color: themed('accent');
    }
  }
}