
$themes: (
  light: (
    main: #fff,
    primary: #2E16B1,
    accent: #604BD8,
    light: #fff,
    highlight: #F20C8B,
    // contrast: #7506BF,
  ),
  dark: (
    main: #0B0326,
    primary: #fff,
    accent: #460273,
    light: #fff,
    highlight: #27F2DE,
    // contrast: #F20C8B,
  ),
);
// $tint: 