
$themes: (
  light: (
    main: #fff,
    primary: #2E16B1,
    light: #fff,
    accent: #604BD8,
    tint: rgba(0, 0, 0, .2),
    highlight: #F20C8B,
    mainTextColor: #161616,
  ),
  dark: (
    main: #0B0326,
    primary: #fff,
    light: #fff,
    accent: #460273,
    tint: rgba(255, 255, 255, .2),
    highlight: #27F2DE,
    mainTextColor: #fff,
  ),
);
