$fontFamily: "Gilroy";

// sizes
$slider-height: 230px;
$eventSize: 330px;
$eventSize-small: 155px;
// colors
$transparent-dark: rgba(0, 0, 0, .4);
// header
$headerHeight: 50px;
// screen
$screen: 1920px;
$lowScreen: 1280px;
$tabScreen: 1024px;
$mobileScreen: 768px;
$minScreen: 500px;
// margings
$margin-default: 20px;
$margin-large: 50px;
// border
$border-radius-small: 5px;
$border-radius: 10px;
// transitions
$fast: .1s;
$average: .2s;
$slow: .3s;
$slowly: .5s;
$fast-easing: ease-in-out .1s;
$average-easing: ease-in-out .2s;
$slow-easing: ease-in-out .3s;
// mask
$mask: linear-gradient(rgba(0, 0, 0, 1), transparent);
$opacity-mask: linear-gradient(rgba(0, 0, 0, .9) 100%, transparent);
$magic-mask: radial-gradient(white, black);
// fonts
%header-1 {
  font-size: 22pt;
  font-weight: 600;
  @include mobile {
    font-size: 16pt;
    font-weight: 600;
  }
}
%header-2 {
  font-size: 16pt;
  font-weight: 600;
}
%header-oversize {
  font-size: 32pt;
  font-weight: 600;
  @include mobile {
    font-size: 22pt;
    font-weight: 600;
  }
}
%simple-text {
  font-size: 10pt;
}
%small-text {
  font-size: 10pt;
}
// effects
$smooth-blur: 3px;
$large-blur: 5px;
%decrease-scale {
  will-change: transform;
  backface-visibility: hidden;
  transform: scale(.98);
}
%increase-scale {
  will-change: transform;
  backface-visibility: hidden;
  transform: scale(1.1);
}
$z-indexes: (
    "overlay",
    "foreground",
    "main",
    "in-between",
    "background",
);

@function z($name) {
    @if index($z-indexes, $name) {
        @return (length($z-indexes) - index($z-indexes, $name)) + 1;
    } @else {
        @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
        @return null;
    }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
