.Date-Field {
  display: block;
  position: relative;
  width: 100%;
  &__title {
    font-weight: 600;
    color: $tint-hard-300;
  }
  &__date-picker {
    position: relative;
    left: 0;
    overflow: hidden;
  }
  &__date {
    font-weight: 600;
    font-size: 11pt;
  }
}