.Organization {
  position: relative;
  animation: fadeInWithTransform $slowly forwards;

  &__image {
    border-radius: $border-radius;
  }
  &__content {
    position: relative;
    background: $main;

     .Field, .ISelect {
      max-width: 50%;
      @include mobile {
        max-width: unset;
      }
    }
  }
  &__map {
    & > * {
      width: 100%;
      height: 100%;
    }
  }

  &--readonly {
    font-size: 10pt;
    font-weight: 600;
    & > * {
      &.alert {
        color: $red-light;
      }
    }
  }
  &__save {
    position: relative;
    width: 100%;
    background: linear-gradient(to left, $main, $light-2);
    opacity: .85;
    $border: 3px;
    background-clip: padding-box;
    border: $border solid transparent;
    border-radius: $border-radius;
  }
}